
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

.contact {
	background-color: white;
	z-index: 100;
	padding: 2rem 0;

	@include media-breakpoint-up(xl) {
		padding: $spacer * 3;
		margin-top: -13rem;
		padding-bottom: 0;
	}
}

.product_destails {
	background-color: #f8f8f8;
}

.carousel-indicators {
	button {
		border: none !important;
		width: 0.8rem;
		height: 0.8rem !important;
		display: block;
		clear: both;
		height: 0rem;
		background: black;
		border-radius: 50%;
		margin: 0rem 1rem;
		opacity: 0.5;
	}

	.active {
		opacity: 1;
	}
}

.collection {
	h1 {
		font-size: 6.5rem;
	}

	h2 {
		font-size: 3rem;
	}
}


.event-date {
	@include media-breakpoint-up(md) {
		display: flex;
		align-items: center;
		margin-left: -10rem;
		width: 5%;
		transform: rotate(-88deg);
		font-size: 7.5rem;
	}

	font-size: $h1-font-size;
}