
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: black;
	line-height: 1;

	p {
		opacity: 0.5;
		color: white;
	}
}

#footer-main {
	padding-top: 4.3rem;
	padding-bottom: 1rem;

	h3 {
		color: white;
	}
	
	hr {
		background-color: white;
		opacity: 0.5;
		margin-top: 3.5rem;
	}
}

#footer-bottom {
	padding-bottom: 3.875rem;
	padding-top: 1.5rem;

	p {
		color: #8c8c8c;
	}
}

