
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	
	.title {
		display: block;		
		font-family: $heading-font;
		font-weight: 400;
		line-height: 1;
		color: black;
		line-height: 1;
	}
}