
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {

	.widget-title {
		font-size: 1.25rem;
		font-family: $heading-font;
		font-weight: 400;
		margin-bottom: 1rem;
		color: white;
	}

	&.widget-contact {
		margin-top: -0.6rem;
	}

	// Widget - Social
	&.widget-social {
		.social-icons {
			li {
				padding: 0 1rem;

				&:first-child {
					padding-left: 0;
				}
		
				a {
					color: white;
					display: inline-block;
					line-height: 1.8125rem;
					vertical-align: middle;
					text-align: center;
					transition: all 0.3s ease-in-out;
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			li {
				margin-bottom: 1.25rem;

				a {
					color: white;
					font-weight: 400;
					font-size: $h6-font-size;
					font-family: $body-font;
					transition: all 0.3s ease-in-out;
					line-height: 1;
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;

			.payment-icon {
				text-align: center;
				margin-left: $spacer * 2.25;
				
				img {
					width: 3rem;
				}
			}
		}
	}
}