
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.8rem; 

	.title {		
		display: block;
		font-family: $heading-font;
		font-size: 4.06rem;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 0;
	}
}