
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	padding-top: 6.3rem;
	padding-bottom: 6.3rem;
	
	.logo-item {
		height: 6.25rem;
		width: 100%;
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: auto;
		}
	}
} 